<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>866516454721-gf38cqhaljpejanffvrvt3tluji5cp87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866516454721-gf38cqhaljpejanffvrvt3tluji5cp87</string>
	<key>API_KEY</key>
	<string>AIzaSyDL0Lh7nslLBMS3tNbr94MZqUAl5MxWm_o</string>
	<key>GCM_SENDER_ID</key>
	<string>866516454721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NalFindTeam.NalFind</string>
	<key>PROJECT_ID</key>
	<string>nalnoxone2016</string>
	<key>STORAGE_BUCKET</key>
	<string>nalnoxone2016.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:866516454721:ios:6d02d88cbe0d6bb0</string>
	<key>DATABASE_URL</key>
	<string>https://nalnoxone2016.firebaseio.com</string>
</dict>
</plist>